# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Latex uneccessairly files
*.aux
*.log
*.pdf
*.toc

# VIM
*.swp

#
*.bin
*.elf
