platform-energymicro-efm32gg-dk3750/build-target/
platform-energymicro-efm32gg-dk3750/selected_platformconfig
platform-energymicro-efm32gg-dk3750/selected_ptxconfig
platform-energymicro-efm32gg-dk3750/state/
platform-energymicro-efm32gg-dk3750/sysroot-host/
src/

